In [16]:
import requests as rq
import pandas as pd

In [115]:
OECD_ROOT_URL = "http://stats.oecd.org/SDMX-JSON/data"

def OECD_get_data(dsname, dimensions, params = {}, root_dir = OECD_ROOT_URL):
    """4 dimensions: location, subject, measure, frequency"""

    dim_args = ['+'.join(d) for d in dimensions]
    dim_str = '.'.join(dim_args)
    params_str = '&'.join("{}={}".format(key,val) for (key,val) in params.items())

    url = root_dir + '/' + dsname + '/' + dim_str + '/all'
    
    try:
        return pd.read_csv(url + '?' + params_str)
    except:
        return "error"
    
def OECD_csvdf_clean(OECD_csvdf):
    
    # Drops unnecessary columns for our MySQL database
    col_whitelist = ["LOCATION", "Measure", "Year", "Value", "Year"]
    for col_name in list(OECD_csvdf.columns):
        if col_name not in col_whitelist:
            OECD_csvdf.drop(col_name, axis=1, inplace=True)
            
    # Drops unnecessary rows
    len_ISO3 = 3
    rows_to_drop = []
    for row_label in list(OECD_csvdf.index):
        if len(OECD_csvdf.iloc[row_label]["LOCATION"]) != len_ISO3:
            rows_to_drop.append(row_label)
    OECD_csvdf.drop(rows_to_drop, axis=0, inplace=True)

In [108]:
df_GDP = OECD_get_data('QNA'
    , [[], ['B1_GE'], ['CPCARSA'], ['A']]
    , {'startTime': '2000', 'endTime': '2020', 'contentType': 'csv'})

In [110]:
# Cleans and saves as CSV
OECD_csvdf_clean(df_GDP)
df_GDP.to_csv('../Data/OECD_GDP.csv')

In [111]:
df_GDP

,LOCATION,Measure,Period,Value
0,AUS,"US dollars, current prices, current PPPs, annu...",2000,523562.2
1,AUS,"US dollars, current prices, current PPPs, annu...",2001,550446.5
2,AUS,"US dollars, current prices, current PPPs, annu...",2002,585302.6
3,AUS,"US dollars, current prices, current PPPs, annu...",2003,613440.1
4,AUS,"US dollars, current prices, current PPPs, annu...",2004,654879.8
...,...,...,...,...
1145,ROU,"US dollars, current prices, current PPPs, annu...",2016,478203.7
1146,ROU,"US dollars, current prices, current PPPs, annu...",2017,531676.3
1147,ROU,"US dollars, current prices, current PPPs, annu...",2018,571409.8
1148,ROU,"US dollars, current prices, current PPPs, annu...",2019,617320.4
1149,ROU,"US dollars, current prices, current PPPs, annu...",2020,618155.0

In [116]:
df_MDI = OECD_get_data('IDD'
    , [[], ['MEDIANC'], ['TOT'], ['CURRENT'], ['METH2012']]
    , {'startTime': '2000', 'endTime': '2020', 'contentType': 'csv'})

In [117]:
OECD_csvdf_clean(df_MDI)
df_MDI.to_csv('../Data/OECD_MDI.csv')

In [118]:
df_MDI

    LOCATION                                    Measure  Year  Value
0        AUS  Median disposable income (current prices)  2012  45651
1        AUS  Median disposable income (current prices)  2014  48537
2        AUS  Median disposable income (current prices)  2016  49154
3        AUS  Median disposable income (current prices)  2018  51935
4        AUT  Median disposable income (current prices)  2007  21661
..       ...                                        ...   ...    ...
438      BGR  Median disposable income (current prices)  2015   7096
439      BGR  Median disposable income (current prices)  2016   8047
440      BGR  Median disposable income (current prices)  2017   8066
441      BGR  Median disposable income (current prices)  2018   9343
442      BGR  Median disposable income (current prices)  2019  10236

[443 rows x 4 columns]

In [125]:
df_PPP = OECD_get_data('IDD'
    , [[], ['PPPPRC'], ['TOT'], ['CURRENT'], ['METH2012']]
    , {'startTime': '2000', 'endTime': '2020', 'contentType': 'csv'})

In [126]:
OECD_csvdf_clean(df_PPP)
df_PPP.to_csv('../Data/OECD_PPP.csv')

In [123]:
df_PovertyGap = OECD_get_data('IDD'
    , [[], ['PMEAN5A'], ['TOT'], ['CURRENT'], ['METH2012']]
    , {'startTime': '2000', 'endTime': '2020', 'contentType': 'csv'})

In [124]:
OECD_csvdf_clean(df_PovertyGap)
df_PovertyGap.to_csv('../Data/OECD_PovertyGap.csv')